<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Climas</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="relative bg-slate-100">
<div class="sticky top-0 z-50 bg-blue-300 md-2 p-2 text-center shadow-md">
  <h1 class="text-4xl font-bold m-2">Lista de Climas</h1>
  <h2 class="text-xl">Última actualizacion</h2>
  <p th:text="${#temporals.format(lastUpdate, 'dd-MM-yyyy HH:mm:ss')}"></p>
</div>
<div class="flex justify-center">
	<div class="grid md:grid-cols-3 lg:grid-cols-4 gap-3 p-4">
		<div class="grid grid-rows-6 bg-blue-200 p-2 hover:bg-blue-300 transition ease-in-out rounded-lg text-center shadow-md" th:each="clima : ${climas}">
			<p th:text="${clima.name + ', ' + clima.province}" class="text-lg font-semibold"></p>
		    <p th:text="${clima.weather.tempDesc}" class="text-lg"></p>
		    <p th:text="${clima.weather.description}"></p>
		    <p th:text="${'Visibilidad: ' + clima.weather.visibility + ' km'}"></p>
		    <p th:text="${'Humedad: ' + clima.weather.humidity + '%'}"></p>
		    <p th:text="${'Presión: ' + clima.weather.pressure}"></p>
		    <p th:text="${'Viento: ' +clima.weather.wind_speed + ' km/h'}"></p>
		</div>
	</div>
</div>
</body>
</html>